# SECRETS
TOKEN = ''

# GUILD DEFAULTS
DEFAULT_PREFIX = '!'

# COOLDOWN SETTINGS
COOLDOWN_LIFETIME = "60"
COOLDOWN_SWEEP_INTERVAL = "120"

# SHARDING SETTINGS
TOTAL_SHARDS = "5"
SHARD_LIST = "0,1,2,3,4"